html{
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.79) inset;
	height: 100%;
}

body{
	background-color: #006433;
	color:white;
	text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	text-align: center;

}

.masthead,.mastfoot{
	margin: 0px auto;
	position: relative;
}


.mastfoot{
	position: absolute;
}

/*@media (min-width:1366px){
	.mastfoot{
		left:20%;
	}
}*/

@media (min-width:1920px){
	.mastfoot{
		left:30%;
	}
}



.oculto{
	display: none !important;
}

.divBoton{
     text-align: center;
}

.divBoton a{
    border-color: white;
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    border-width: 2px;
    text-decoration: none;
    margin: 10px;
}

.inputRow{
	background-color: rgba(255,255,255,0.4);
	color:black;
	border: none;
	border-radius: 3px;
}

.inputError{
	border-color: red;
	border-style: solid;
	border-width: 3px;
}

.modal-content{
	background-image: linear-gradient(to bottom, #006433 0px, #01220c 100%);
}

.modal-body{
  overflow: hidden;
}


.form-control:focus {
	border-width: 1px !important;
}

.izquierda{
	float:left;
}

.derecha{
	float:right;
}

.alertify-notifier{
	color: black !important;
}

.autosuggest{
	z-index: 10000000;
	font-size: 20px !important;
}


.autosuggest ul{
	padding-top: 5px !important;
	border-radius: 4px;
	background-image: linear-gradient(to top, #006433 0px, #01220c 100%);
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.autosuggest li{
	text-align: center !important;
}
.autosuggest a,span{
	border-radius: 0px !important;
}

div.autosuggest ul li a:hover {
    background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover {
    /*background-color: #fff !important;*/
	background-image: linear-gradient(to bottom, #006433 0px, #01220c 100%);
}

div.autosuggest ul li.as_highlight a
{
	background-image: linear-gradient(to bottom, #006433 0px, #01220c 100%);
}

.range-value{
	display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    /*background: #353535;*/
    padding: 5px 10px;
    margin-left: 7px;

    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #353535;
      border-bottom: 7px solid transparent;
      content: '';
    }
  }

input[type='range']{
    background-color: rgba(155,155,155,.2) !important;
    width: 100% !important;
}
input.toggle+label:after { color:inherit; }

input.toggle+label { border-radius:0; }

input.toggle+label > span {
    border-radius:0;
    top:0;
    width:27px;
    height:23px;
}

input.toggle + label:before,
input.toggle:checked + label:before {
  content: attr(data-no);
  position: absolute;
  color: #fff;
  left: 5px;
  width: 42px;
  text-align: left;
  z-index: 3;
  top: 3px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  display: none;
}
input.toggle:checked + label:before {
  display: block;
}
input.toggle + label:after {
  content: attr(data-si);
  position: absolute;
  color: #fff;
  width: 42px;
  text-align: left;
  z-index: 1;
  top: 2px;
  left: 30px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
}
input.toggle:checked + label:after {
  display: none;
}
input[type="radio"].toggle:checked + label:before {
  line-height: 1.2em;
}
input.toggle + label {
  position: relative;
  margin: 5px;
  border-radius: 50px;
  display: block;
  height: 24px;
  width: 65px;
  border: 1px solid #ccc;
  left: 43%;
  float: none;
}
input.toggle:checked + label {
  background: #1eb0e9;
  line-height: -1em;
}
input.toggle + label > span {
  display: block;
  width: 28px;
  height: 28px;
  background: #ccc;
  border-radius: 50px;
  z-index: 5;
  top: -2px;
  left: 0px;
  position: absolute;
  transition: transform 100ms linear;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 100ms linear;
}
input.toggle:checked + label > span {
  transform: translate3d(37px, 0, 0);
  -webkit-transform: translate3d(37px, 0, 0);
}

.toggleGuia{
	border-radius: 100px !important;
}
