.contenido{
	margin:0px auto;
	overflow: auto;
}

.contenidoBaseDatos{
	width: 90%;
	height: 100%;
	margin:20px auto;
	margin-bottom: 0px;
	text-align: center;
}

.seleccionMultiple{
	border: 1px;
	border-style: solid;
	border-color: gray;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	background-color: white;
}

.contenedorABM{
	float:left;
	width: 35%;
}

.datosAsociados{
	margin-left: 2%;
	padding: 10px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-radius: 6px;
	border-style: solid;
	border-color: #ddd;
	border-width: .3px;
	width: 58%;
	background-image: linear-gradient(to left, #006433 0px, #01220c 100%);
}

.datosAsociados .opcion{

}

.list-group-item p{
	color:rgba(33,33,33,.8);
}

.list-group>a{
	background-color: rgba(255,255,255,.2);
}

.opcion input{

}


.inputLi{
 	margin-top: -3px;
 	width: 50%;

}

.rowTextArea{
	overflow-y: auto;
}

.rowTextArea textarea{
	resize: none;
}


.datosTipoFalla{
	overflow: auto;
}
	

.datosTipoFalla h4:last-child{
	margin-top: 20px;
}



.contenidoLista{
	width: 45%;
	float: left;
}

.contenedorLista{
	overflow: auto;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	border-color: #ffffff;
	background-image: linear-gradient(to left, #006433 0px, #01220c 100%);

}

thead th {
	text-align: center;
}

thead th:first-child {
	text-align: left;
} 

tbody tr td:first-child {
	text-align: left;
	font-weight: bold;
}   

table.dataTable {
    text-align: inherit;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

.dataTables_info{
	color:white !important;	
}

.dataTables_filter{
	color:white !important;	
}

.dataTables_filter input{
	color:black !important;	
}

table.dataTable.no-footer {
    border-bottom-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	color:white !important;
}

.disabled{
	visibility:hidden !important;
}

.botonAgregar{
	float: left;
}

.botonAccion{
	float: right;
	margin-top: 4px;
}

.botonAccion  .fa-check{
	color:darkgreen;
}

.botonAccion .fa-times{
	color:red;
}

.btn-primary{
	background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
	color:black;
	border-color:none;
}

.btn-primary:focus, .btn-primary:hover, .btn-default:focus, .btn-default:hover {
	background-color: white;
	background-image: linear-gradient(to top, #fff 0px, #e0e0e0 100%) !important;
	color:black;
	border-color:none;
}

.btn-primary i{
	color:darkgreen;
}

.btn-default i{
	color:red;
}

table.dataTable tbody tr.selected {
    background-color: #7FA28D !important;
}

.seccionesTop{
	height: 100px;
	width: 100%;
	background-color: red;
}
.seccionesBottom{
	height: 100px;
	width: 100%;
	background-color: red;
}

.opcionesEspecie{
	float: left;
	width: 48%;
}


.opcionesEspecieDerecha{
	margin-left: 3%;
}

.modal-body{
	overflow: hidden;
}

.divForrajera{
	margin-top: -4%;
}


#tablaEspecies td:nth-child(2),td:nth-child(7),td:nth-child(8),td:nth-child(9),td:nth-child(10){
	display: none;
}


.divDropeable{
	border-style: dashed;
	min-height: 100px;
	color:rgba(255,255,255,0.7);
	border-color: rgba(255,255,255,0.7);
	font-size: 29px;
}

.imagenEspecie{
	margin-top:10px;
	width: 100%;
}

.ancho100{
	width: 100%;
}

.flotIzq{
	float:left;
}

#botonCambiarImagen{
	width: 100%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

input.jcrop-keymgr{
	display: none !important;
}



tr:has(> td.dataTables_empty){
/*.dataTables_empty < .odd{*/
	pointer-events: none !important;
	background: black;
}

div:has(a.active){
	background: black !important;
}

.jcrop-holder {
	margin: 0 auto;
}