.contenedorCampania{
	width: 100%;
	position: absolute !important;
    top: 0;
    height: 100%;
}

.filtros{
	width: 20%;
	z-index:2;
}

.opcionesFiltro{
	width: 80%;
	position: relative;
	border-radius: 6px;
	margin-bottom: 10px;
	padding: 5px;
	padding-right: 15px;
}

.opcionesFiltro >div{
	position: relative;
	background-color: rgba(0, 100, 52, 0.3);
}
.contenedorEspecies{
}

.tituloOpcion{
	width: 100%;
	text-align: left;
	padding: 6px;
	border-radius: 6px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.tituloOpcion >div{
	font-size: 16px;
    font-weight: bold;
}

.tituloOpcion i{
	float: right;
	font-size: 26px;
}

.cuerpoOpcion{
	width: 86%;
	padding: 15px;
	border-radius: 6px;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.cuerpoOpcion >input{
	width: 100%;
}
