{% extends "base.html" %}

{% load staticfiles %}

{% block estilos %} 
	<link rel="stylesheet" href="{% static "css/campanias.css" %}">

{% endblock estilos%}

{% block script %}  
	<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=drawing&sensor=false" type="text/javascript"></script>
	<script src="{% static "js/campanias.js" %}"></script>
{% endblock script %}


{% block titulo %}
	Este es el index
{% endblock titulo %}

{% block menu %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/campanias">Campañas</a></li>
	<li><a href="/baseDeDatos">Base de Datos</a></li>
	<li><a href="/about">About</a></li>
{% endblock %}

{% block contenido %}
<div id="mapa" class="contenedorCampania">

</div>

<div class="filtros">

	<div id="contenedorEspecies" class="opcionesFiltro">
		<div class="tituloOpcion">
			<div>
				Especie
				<i class="fa fa-leaf"></i>
			</div>
		</div>
		<div class="cuerpoOpcion">
			<input type="text" class="form-control" placeholder="Ej: Atriplex Lampax"/>
		</div>
	</div>

	<div id="contenedorCampanias" class="opcionesFiltro">
		<div class="tituloOpcion">
			<div>
				Campaña
				<i class="fa fa-map"></i>
			</div>
		</div>
		<div class="cuerpoOpcion">
			<input type="text" class="form-control" placeholder="Ej: Ambiente Estepa Arbustiva"/>
		</div>
	</div>
</div>
	campania
{% endblock %}